body {
    /*background-color: #16161d;*/
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

#header {
    text-align: center;
}

nav {
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 3px;
    background-color: #16161d;
    text-align: center;
    border-bottom: 3px solid black;
}

.menu {
    padding: 7px;
    color: white;
    text-decoration: none;
}

.selected {
    background-image: linear-gradient(darkblue, royalblue, darkblue);
}

.unselected {
    background-image: linear-gradient(royalblue, darkblue, royalblue);
}

.unselected:hover {
    /*background-image: linear-gradient(darkblue, royalblue);*/
    /*background-image: linear-gradient(black, #222222); */
    /*background-image: linear-gradient(black, #222222, black);*/
    background-image: linear-gradient(#222222, black, #222222);
}

#main_content {
    width: 80%;
    margin: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-color: #0E28E5;
    border-right-color: #0E28E5;
    padding: 15px 25px;
    background-color: #222222;
}

#job_card {
    width: 80%;
    margin: auto;
    padding: 0 15px;
    border: 3px solid lightskyblue;
    background-color: black;
}

#company_name {
    text-align: center;
    background-color: #1624a0;
}

.column {
    float: left;
    position: relative;
}

#start_date, #end_date {
    text-align: center;
    width: 25%;
    font-size: x-large;
}

#title_location {
    width: 50%;
    text-align: center;
}

#job_details:after {
    content: "";
    display: table;
    clear: both;
}

#descriptions {
    text-align: left;
    border-top-color: lightskyblue;
    border-top-style: dashed;
    border-top-width: 2px;
}

footer {
    border-top-color: #0E28E5;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
}