.skills {
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

#skills_wrapper {
    width: 90%;
    margin: auto;
}

#skill_card {
    padding-bottom: 25px;
}

.levels {
    width: 75%;
}

.arrow {
    height: 12px;
    width: 12px;
}

.skills_header:hover {
    cursor: pointer;
}