#job_card {
    width: 80%;
    margin: auto;
    padding: 0 15px;
    border: 3px solid lightskyblue;
    background-color: black;
}

#company_name {
    text-align: center;
    background-color: #1624a0;
}

#job_details {
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
}
.job_details_cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#job_start_date, #job_end_date {
    grid-row: 1 / 3;
    font-size: x-large;
}

#job_descriptions {
    text-align: left;
    border-top-color: lightskyblue;
    border-top-style: dashed;
    border-top-width: 2px;
}